    <div itemscope itemtype="http://schema.org/Product">
    <h1 class="product-title">
        <span itemprop="name">{{ product.get_name }}</span>
    </h1>
  <!--meta itemprop="description" content="{{ product.get_short_description|safe}}" /-->
	<meta itemprop="image" content="url_of_the_domain/{{ product.get_image.image.url_60x60}}" />
    </div>

    {# Displayed Properties #}
    <div class="product-properties">
        {% for property in product.get_displayed_properties %}
            <div>
                {{ property.title }}: {{ property.value }} {{ property.unit|safe }}
            </div>
        {% endfor %}
    </div>

<!--    {% shipping product %}
-->    {% average_for_instance product %}
<div itemprop="offers" itemscope itemtype="http://schema.org/AggregateOffer">
    {# Prices #}
    <div class="prices">
        {% if for_sale %}
            <div>
                <span class="for-sale-standard-price" nowrap="nowrap">
                    <span class="for-sale-standard-price-value">
                        {{ product|get_standard_price_gross:request|currency:request }}
                    </span>
                    * {% if price_unit %}/ {{ price_unit }}{% endif %}</span>
                <span class="for-sale-price" nowrap="nowrap" itemprop="price">
                    <span class="for-sale-price-value">
                        {{ product|get_for_sale_price_gross:request|currency:request }}
                    </span>
                    * {% if price_unit %}/ {{ price_unit }}{% endif %}
                </span>
            </div>
            {% if product.get_active_base_price %}
                <div class="base-price" itemprop="price">
                    {{ product|get_base_price_net:request|currency:request }} / {{ product.get_base_price_unit }}*
                </div>
            {% endif %}
            <div class="price-disclaimer">
                {% if price_includes_tax %}
                    {% trans '*inc. VAT' %}
                {% else  %}
                    {% trans '*exc. VAT' %}
                {% endif %}
            </div>
        {% else %}
            <div class="standard-price"
                  nowrap="nowrap">
                  <span class="standard-price-value" itemprop="price">{{ product|get_price_net:request|currency:request }}</span>* {% if price_unit %}/ {{ price_unit }}{% endif %}
            </div>
            {% if product.get_active_base_price %}
                <div class="base-price">
                    {{ product|get_base_price_net:request|currency:request }} / {{ product.get_base_price_unit }}*
                </div>
            {% endif %}
            <div class="price-disclaimer">
                {% if price_includes_tax %}
                    {% trans '*inc. VAT' %}
                {% else  %}
                    {% trans '*exc. VAT' %}
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
